<!DOCTYPE html>
<html lang="en">
<head>
    <title>Text Summarizer</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous"> 
    <script src="{{url_for('static', filename='js/summarizer.js')}}"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">ReonAI</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="chatbot">Chatbot</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="docvqa">Document Analysis</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="summarizer">Summarizer</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="container p-3">
        <h1>Text Summarizer</h1>
        <div class="row-auto">
            <div class="col-auto mb-3"> 
                <form method="post" enctype="multipart/form-data">
                    <div class="row-auto mb-3">
                        <label for="prompt">Enter text to summarize:</label>
                        <textarea class="form-control" type="textarea" id="prompt" name="prompt" rows="5" required></textarea>
                    </div>
                    <div class="row-auto mb-3">
                        <label for="minlength">Enter minimum word length:</label>
                        <input type="number" id="minlength" name="minlength" required><br><br>
                        <label for="maxlength">Enter maximum word length:</label>
                        <input type="number" id="maxlength" name="maxlength" required><br><br>
                    </div>
                    <button class="btn btn-primary " type="submit">Submit</button>
                </form>
            </div>
            <div class="col-auto mb-3 text-start"> 
                <h6>Summary:</h6>
                <div class="spinner-border text-primary" id="loadingAnimation" role="status"></div>  
                <div class="d-flex justify-content-start" id="response"></div>
            </div>
        </div>
    </div>
</body>
</html>
